/*  your css code here. If applicable */
body{
	background-color: rgb(204, 204, 204);
}
h1{
	text-align: center;
}
h2{https://www.svgrepo.com/show/345221/three-dots.svg
	text-align: center;
}
li{
	list-style-type: none;
	
}
#playlist{
	background-color: white;
	border:solid 1px;
	padding:10px;
	border-radius:5px;
}